

<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
  <label>Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Enter Code" name="code" value="{{report.code}}">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Temperature" name="temp" value="{{report.temp}}">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Wind Speed" name="windSpeed" value="{{report.windSpeed}}">
      </div>
      <div class="select" value="{{report.windDirection}}"> 
        <select name="windDirection">
         <option>North (N)</option>
        <option>North-Northeast (NNE)</option>
        <option>Northeast (NE)</option>
        <option>East-Northeast (ENE)</option>
        <option>East (E)</option>
        <option>East-Southeast (ESE)</option>
        <option>Southeast (SE)</option>
        <option>South-Southeast (SSE)</option>
        <option>South (S)</option>
        <option>South-Southwest (SSW)</option>
        <option>Southwest (SW)</option>
        <option>West-Southwest (WSW)</option>
        <option>West (W)</option>
        <option>West-Northwest (WNW)</option>
        <option>Northwest (NW)</option>
        <option>North-Northwest (NNW)</option>
        </select>
      </div> 
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Pressure" name="pressure" value="{{report.pressure}}">
      </div>
    </div>
      <button class="button is-primary">Update Report</button>
  </div>
  
</form>