<label>Report Box Summay</label>
<section class="box">
    <div class="columns ">
  <div class="column has-background-black has-text-white">Station Location</div>
  <div class="column has-background-black has-text-white">Weather</div>
  <div class="column has-background-black has-text-white">Temp <p>Min Temp: {{minTemp.temp}}</p><p>Max Temp: {{maxTemp.temp}}</p></div>
  <div class="column has-background-black has-text-white">Wind <p>Min Wind Speed: {{minWindSpeed.windSpeed}}</p> <p>Max Wind Speed: {{maxWindSpeed.windSpeed}}</p></div>
  <div class="column has-background-black has-text-white">Pressure <p>Min Pressure: {{minPressure.pressure}}</p> <p>Max Pressure: {{maxPressure.pressure}}</p></div>
 

      
      
      
      
      
       


</div>
</section>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Weather Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>
      <th></th>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
        {{code}}
      </td>
      <td>
        {{temp}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
      <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
         {{>icons/delete}}
      </a>
      </td>
      <td>
      <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
         {{>icons/edit}}
      </a>
     </td>
    </tr>
    {{/each}}
  </tbody>
</table>
