
<section class="box">
<div class="columns">
  <div class="column mr-1 has-background-black has-text-white"> 
    <h1 class="is-size-4">Station Location</h1> 
    <p>
      <svg fill="#16e50c" width="50px" height="50px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.114-0.011c-6.559 0-12.114 5.587-12.114 12.204 0 6.93 6.439 14.017 10.77 18.998 0.017 0.020 0.717 0.797 1.579 0.797h0.076c0.863 0 1.558-0.777 1.575-0.797 4.064-4.672 10-12.377 10-18.998 0-6.618-4.333-12.204-11.886-12.204zM16.515 29.849c-0.035 0.035-0.086 0.074-0.131 0.107-0.046-0.032-0.096-0.072-0.133-0.107l-0.523-0.602c-4.106-4.71-9.729-11.161-9.729-17.055 0-5.532 4.632-10.205 10.114-10.205 6.829 0 9.886 5.125 9.886 10.205 0 4.474-3.192 10.416-9.485 17.657zM16.035 6.044c-3.313 0-6 2.686-6 6s2.687 6 6 6 6-2.687 6-6-2.686-6-6-6zM16.035 16.044c-2.206 0-4.046-1.838-4.046-4.044s1.794-4 4-4c2.207 0 4 1.794 4 4 0.001 2.206-1.747 4.044-3.954 4.044z"></path>
      </svg>
      </p> 
  <p>Name: {{stationName}}<p>Latitude: {{stationLatitude}}째</p></p>
  <p>Longitude: {{stationLongitude}}째</p>
  </div>
  <div class="column mr-1 has-background-black has-text-white"><h1 class="is-size-4">Weather code</h1>
   <p><p>{{weatherIcon.icon}}</p>
   <p>{{weatherDescription}}</p>
   {{code}}</p>
   </div>
  <div class="column mr-1 has-background-black has-text-white">
    <h1 class="is-size-4">Temp</h1>
     <p>
      <svg width="50px" height="50px" viewBox="0 0 24 24" fill="#e12b2b" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 15.9998C7.44772 15.9998 7 16.4475 7 16.9998C7 17.5521 7.44772 17.9998 8 17.9998C8.55228 17.9998 9 17.5521 9 16.9998C9 16.4475 8.55228 15.9998 8 15.9998ZM8 15.9998L8.00707 12M8 16.9998L8.00707 17.0069M20 5C20 6.10457 19.1046 7 18 7C16.8954 7 16 6.10457 16 5C16 3.89543 16.8954 3 18 3C19.1046 3 20 3.89543 20 5ZM12 16.9998C12 19.209 10.2091 20.9998 8 20.9998C5.79086 20.9998 4 19.209 4 16.9998C4 15.9854 4.37764 15.0591 5 14.354L5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6V14.354C11.6224 15.0591 12 15.9854 12 16.9998Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      </p>
       <p>Min Temp: {{minTemp.temp}}째C</p><p>Max Temp: {{maxTemp.temp}}째C</p></div>
  <div class="column mr-1 has-background-black has-text-white">
    <h1 class="is-size-4">Wind</h1> 
    <p><svg width="50px" height="50px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
    <path fill="#6dbce0" d="M160 64q32 0 32 32v832q0 32-32 32t-32-32V96q0-32 32-32zm416 354.624 128-11.584V168.96l-128-11.52v261.12zm-64 5.824V151.552L320 134.08V160h-64V64l616.704 56.064A96 96 0 0 1 960 215.68v144.64a96 96 0 0 1-87.296 95.616L256 512V224h64v217.92l192-17.472zm256-23.232 98.88-8.96A32 32 0 0 0 896 360.32V215.68a32 32 0 0 0-29.12-31.872l-98.88-8.96v226.368z"/>
    </svg>
    <p>Wind Direction: {{windDirection}}</p>
    </p> <p>Min Wind Speed: {{minWindSpeed.windSpeed}}m/s</p> <p>Max Wind Speed: {{maxWindSpeed.windSpeed}}m/s</p></div>
      <div class="column mr-1 has-background-black has-text-white">
        <h1 class="is-size-4">Pressure</h1>
    <p><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 9C11.4477 9 11 9.44771 11 10V15.2676C10.4022 15.6134 10 16.2597 10 17C10 18.1046 10.8954 19 12 19C13.1046 19 14 18.1046 14 17C14 16.2597 13.5978 15.6134 13 15.2676V10C13 9.44771 12.5523 9 12 9Z" fill="#ffffff"/>
<path d="M11 6C11 5.44772 11.4477 5 12 5C12.5523 5 13 5.44772 13 6C13 6.55228 12.5523 7 12 7C11.4477 7 11 6.55228 11 6Z" fill="#e5910c"/>
<path d="M16 7C15.4477 7 15 7.44772 15 8C15 8.55229 15.4477 9 16 9C16.5523 9 17 8.55229 17 8C17 7.44772 16.5523 7 16 7Z" fill="#e5910c"/>
<path d="M6 13C5.44772 13 5 12.5523 5 12C5 11.4477 5.44772 11 6 11C6.55228 11 7 11.4477 7 12C7 12.5523 6.55228 13 6 13Z" fill="#e5910c"/>
<path d="M7 8C7 8.55229 7.44772 9 8 9C8.55228 9 9 8.55228 9 8C9 7.44772 8.55228 7 8 7C7.44772 7 7 7.44772 7 8Z" fill="#e5910c"/>
<path d="M18 13C17.4477 13 17 12.5523 17 12C17 11.4477 17.4477 11 18 11C18.5523 11 19 11.4477 19 12C19 12.5523 18.5523 13 18 13Z" fill="#e5910c"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23ZM12 20.9932C7.03321 20.9932 3.00683 16.9668 3.00683 12C3.00683 7.03321 7.03321 3.00683 12 3.00683C16.9668 3.00683 20.9932 7.03321 20.9932 12C20.9932 16.9668 16.9668 20.9932 12 20.9932Z" fill="#e5910c"/>
</svg></p> <p>Min Pressure: {{minPressure.pressure}}atm</p> <p>Max Pressure: {{maxPressure.pressure}}atm</p></div>
</div>
</section>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Date and time</th>
      <th>Weather Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>
      <th></th>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>
      {{dateTime}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temp}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
      <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
         {{>icons/delete}}
      </a>
      </td>
      <td>
      <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
         {{>icons/edit}}
      </a>
     </td>
    </tr>
    {{/each}}
  </tbody>
</table>
