{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
      Min Temp: {{minTemp}}
      Max Temp: {{maxTemp}}
      Min Wind Speed: {{minWindSpeed}}
      Max Wind Speed: {{maxWindSpeed}}
      Min Pressure: {{minPressure}}
      Max Pressure: {{maxPressure}}
       
  </div>
  
  {{> list-reports}}
  {{> add-reports}}
</section>
